@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.nav {
    margin-top: 0px;
}

.form-control {
    color: #c4c4c4;
}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-item {
    padding-left: 60px;
}

body {
    background-color: rgb(236, 215, 255);
}
/* Main */
 
